<launch>
    <param name="/use_sim_time" value="true" />
  
    <!-- start world -->

    <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
     args="$(find turtlebot3_gazebo)/worlds/turtlebot3_stage_1.world" respawn="false" output="screen" />
    <!-- <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/> -->
  
    <include file="$(find ej2_p1)/launch/robots.launch"/>
  </launch>